/target
/node_modules
/docs/.vitepress/dist
/coverage
/dist
*.log
.DS_Store
*.tmp
*.swp
.vscode/
.idea/

/docs/node_modules
/docs/.vitepress/cache
/docs/index.md
/docs/getting-started
/docs/guides
/docs/reference
/docs/development
/docs/pt-br
/.site-dist
/docs/.content
/.release
